body {
    background-color: #607D8B;

}

html {
  position: relative;
  min-height: 100%;
  overflow: scroll;
}


footer.page-footer {
  position: absolute;
  bottom: 70px;
  width: 100%;
  clear: both;
}


.mono {
    font-family: "Roboto Mono";
}
