
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
    background-color: #2196F3;
}
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active span {
    color: #fff;
}
.side-nav .collapsible-body li.active a,
.side-nav.fixed .collapsible-body li.active a {
    color: #444;
}